.landing--page--container {
  width: 90vw;
  margin: 0 auto;
  /* background: rgb(242, 75, 75); */
  padding: 0 10px;
}

.header--top--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav--links {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
}

/* .icon {
  font-size: 30px;
} */

.cart--like--container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart--like--container-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo {
  font-weight: 100px;
  font-size: larger;
  font-family: "Stanley", sans-serif;
}

@font-face {
  font-family: "Stanley";
  src: url("../../fonts/SparkyStonesRegular-BW6ld.ttf") format("truetype");
}

.banner--1 {
  position: relative;
  position: 22;
  height: 400px;
}

.banner--1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(54, 53, 53, 0.3);
  z-index: 44;
  
}
.banner--img--1 {
  height: 400px;
}

.banner--text1{
    color: white;
    position: absolute;
    top: 35%;
    right: 10%;
    z-index: 55;
    padding: 20px;
}

.banner--btn1{
    border: 3px solid #20BF55;
    background-color: #20BF55;
    border-radius: 8px;
    width: fit-content;
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.banner--btn1:hover{
    border: 3px solid #20BF55;
    background-color: white;
    color: #20BF55;

}

.favorite--meals{
    margin-top: 80px;
    /* height: 40vh; */
    margin-bottom: 60px;
}

.section--title{
    text-align: center;
    background-color: #20BF55;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 2px 4px 10px rgb(0, 0, 0,.4);
    margin-bottom: 20px;
}

.section--title--text{
    /* font-family: "Roboto", sans-serif;
    font-weight: 700; */
    color: white;
}